.item_service_image img {
    height: 70px;
    width: auto;
    object-fit: contain;
  }
  .box {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .box_item_services_list {
    display: flex;
    gap: 20px;
    align-items: center;
    text-transform: uppercase;
    border: 1px solid #987750;
    border-radius: 5px;
    padding: 7px;
    justify-content: center;
    background-color: rgba(0,0,0,0.10);
    transition: all .25s;
  }
  .box_item_services_list:hover {
    transition: all .25s;
    background-color: #987750;
  }
  .item_service_nom {
    color: #987750;
  }
  
  .box_item_services_list:hover > .item_service_nom , .item_service_nom:hover {
    color: #101010;
    transition: all .25s;
  }
